# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Database
*.db
*.db-journal
prisma/migrations

# Backups
backups

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env*.local

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea